.pink
{
	
	width:100px;
	height: 100px;
	border:1px solid black;

}
.hk
{
	margin-left: 50%;
}
body
{
	background-color: black;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0; 
}

.containerw
{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;

}
.jki
{
	display: inline-block;
	width: 20%;
}
.square {
		border-radius: 20%;
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	 transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	o-transition: background .5s;
	
} 

#rest
{
	color: #007bff;
}
.jumbotron
{
	background-color: skyblue;
}
#hard
{
	background-color: darkgreen;
}